:root {
  font-family: "Consolas", monospace;
  font-weight: 400;
  color: gray;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2e2e2e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
}
.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer {
  background-color: #1e1e1e;
  padding: 10px;
  text-align: center;
  width: 100%;
}
button, input, select, option {
  font-family: "Consolas", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar {
  padding: 10px;
  background-color: #1e1e1e;
  font-size: 20px;
  text-align: center;
}
.footer {
  background-color: #1e1e1e;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  width: 100%;
}
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 1rem;
}
.search-parameters {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.line {
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  width: 420px;
  border-radius: 5px;
  background-color: #2a2828;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.move-list {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%; 
}

.white-advantage {
  font-weight: 400;
  background-color: #ffffff;
  margin: 2px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  border-radius: 5px;
  color: #000000;
}

.black-advantage {
  font-weight: 400;
  background-color: #000000;
  margin: 2px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  border-radius: 5px;
  color: #ffffff;
}

.hover-transition {
  color: #828690;
  transition: color 0.1s ease-in-out;
  cursor: pointer;
}

.hover-transition:hover {
  color: #ffffff;
}

@media (max-width: 1130px) {
  .search-parameters {
    flex-direction: column;
    align-items: center;
  }
  
  .search-parameters > div,
  .search-parameters > span {
    width: 100%;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .search-parameters input,
  .search-parameters select,
  .search-parameters button#startSearch {
    width: 100%;
    margin-top: 0.25rem;
  }

  .line {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .right-section {
    padding: 1rem;
    width: 90%;
  }
}
